
<html>

<head>
    <title>Cleantech Solar</title>
</head>


<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 5px solid #dddddd;
  text-align: left;
  padding: 15px;
}

body {
    font-family: 'Times New Roman', Times;
    color: black;
    background-color: #DCDCDC;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius:50px;
  margin-left: 10%
}

.button1{
  
  background-color: red;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius:50px;
  margin-right: 10%
}
.button2:hover {
  background-color: green;
}
.button1:hover {
  background-color: darkred;
}
box {
  background-color: green;
  width: 300px;
  border: 5px solid black;
  padding: 50px; 
}
box2 {
  background-color: red;
  width: 300px;
  border: 5px solid black;
  padding: 50px; 
}
.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
</style>
<h1>Cleantech Solar {{stationname}} O&M Page</h1>
<form action="/addnewdata" method="post">
    Date:<br>
    <input type="date" name="Date"><br>
    GHI: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; GHI-Flag: <br>
    <input type="text" name="GHI">&emsp;&emsp;&nbsp;&nbsp;&nbsp;<input type="text" name="GHI-Flag"><br>
    {% for i in val %}
    {{ i }}:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ i }}-Flag:<br>
    <input type="text" name="{{ i }}">&emsp;&emsp;&nbsp;&nbsp;&nbsp;<input type="text" name="{{ i }}-Flag"><br>
    {% endfor %}
    DA:<br>
    <input type="text" name="DA"><br>
    Master-Flag:<br>
    <input type="text" name="Master-Flag"><br>
    Secret Key:<br>
    <input type="password" name="SecretKey"><br><br>
    <input type='hidden' id='inp4' name='Station' value={{stationname}}>
    <input type="submit"><br>
</form>