
<html>

<head>
    <title>Cleantech Solar</title>
</head>


<style>
    .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7CFC00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7CFC00;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  text-align: left;
  padding: 15px;
}

body {background-color: #DCDCDC;}

.big{
    font-size: 500%;
}
.container{
    display: flex;
}
.fixed{
    width: 1000px;
}
.flex-item{
    flex-grow: 0;
}
.button {
  background-color: #555555; 
  border: none;
  color: white;
  padding: 18px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px
}
</style>
<script>
        function myFunction() {
          var x = document.getElementById("id1").value;
          document.getElementById("inp3").value=x;
        }
</script>
<center><h1 class='big'>Cleantech Solar O&M</h1>
    <h1>SMS Recipients</h1><br><br>
<body>
    <form action="/modify/{{ Type }}/{{ station }}" method="post">
    <table>
    <tr><th>Recipient</th><th>Status</th></tr>
    {% for name, value in final %}
    {% if value==0 %}
    <tr>
        <td>{{ name }}</td>
        <td  height="50"> 
            <label class="switch">
            <input type="checkbox" name="{{ name }}">
            <span class="slider round"></span>
            </label>
        </td>
    </tr>
    {% endif %}
    {% if value==1 %}
    <tr>
        <td>{{ name }}</td>
        <td height="50">
            <label class="switch">  
            <input type="checkbox" checked name="{{ name }}">
            <span class="slider round"></span>
            </label>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
     
    </table><br>
    Secret Key:
    <input type="password" name="SecretKey"><br><br>
    <input type="submit" value='Confirm Changes' class="button"><br>
    </form>
</body>
</html>