<html>
    <head>
            <title>SMS Page</title>
    </head>
    
    <style>table, th, td {
            border: 1px solid black;
          }
          a:link, a:visited {
            background-color: grey;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
          }
          
          a:hover, a:active {
            background-color: black;
          }
          body {background-color: #DCDCDC;}
          .big{
    font-size: 500%;
        }   
          </style>

    <body>
    <center><h1 class='big'>Cleantech Solar O&M</h1><h1><center>SMS RECIPIENTS PAGE</center></h1>
    {% if val==200 %}
    <script>alert('Successfully Modified!')</script>
    {% endif %}
    {% if val==500 %}
    <script>alert('Failed to add Data!')</script>
    {% endif %}
    <table width="100%" >
       <tr><th height='70px'>Station</th><th height='70px'>Link</th></tr> 
       <tr><td align='center'>IN-001T</td><td align='center'><a href=/modify/sms/IN-001T>MODIFY</a></td></tr>
       <tr><td align='center'>IN-002T</td><td align='center'><a href=/modify/sms/IN-002T>MODIFY</a></td></tr>
       <tr><td align='center'>IN-003T</td><td align='center'><a href=/modify/sms/IN-003T>MODIFY</a></td></tr>
       <tr><td align='center'>IN-004T</td><td align='center'><a href=/modify/sms/IN-004T>MODIFY</a></td></tr>
       <tr><td align='center'>IN-006T</td><td align='center'><a href=/modify/sms/IN-006T>MODIFY</a></td></tr>
       <tr><td align='center'>IN-009T</td><td align='center'><a href=/modify/sms/IN-009T>MODIFY</a></td></tr>
       <tr><td align='center'>IN-014T</td><td align='center'><a href=/modify/sms/IN-014T>MODIFY</a></td></tr>
       <tr><td align='center'>IN-015T</td><td align='center'><a href=/modify/sms/IN-015T>MODIFY</a></td></tr>
       <tr><td align='center'>IN-016T</td><td align='center'><a href=/modify/sms/IN-016T>MODIFY</a></td></tr>
       <tr><td align='center'>IN-021T</td><td align='center'><a href=/modify/sms/IN-021T>MODIFY</a></td></tr>
       <tr><td align='center'>IN-031T</td><td align='center'><a href=/modify/sms/IN-031T>MODIFY</a></td></tr>
       <tr><td align='center'>IN-045T</td><td align='center'><a href=/modify/sms/IN-045T>MODIFY</a></td></tr>
       <tr><td align='center'>IN-047T</td><td align='center'><a href=/modify/sms/IN-047T>MODIFY</a></td></tr>
       <tr><td align='center'>IN-049T</td><td align='center'><a href=/modify/sms/IN-049T>MODIFY</a></td></tr>
       <tr><td align='center'>IN-008X</td><td align='center'><a href=/modify/sms/IN-008X>MODIFY</a></td></tr>
       <tr><td align='center'>IN-010X</td><td align='center'><a href=/modify/sms/IN-010X>MODIFY</a></td></tr>
       <tr><td align='center'>IN-015T.1</td><td align='center'><a href=/modify/sms/IN-015T.1>MODIFY</a></td></tr>
       <tr><td align='center'>KH-002X</td><td align='center'><a href=/modify/sms/KH-002X>MODIFY</a></td></tr>
       <tr><td align='center'>KH-003X</td><td align='center'><a href=/modify/sms/KH-003X>MODIFY</a></td></tr>
       <tr><td align='center'>KH-004X</td><td align='center'><a href=/modify/sms/KH-004X>MODIFY</a></td></tr>
       <tr><td align='center'>KH-005X</td><td align='center'><a href=/modify/sms/KH-005X>MODIFY</a></td></tr>
       <tr><td align='center'>KH-007X</td><td align='center'><a href=/modify/sms/KH-007X>MODIFY</a></td></tr>
       <tr><td align='center'>MY-001X</td><td align='center'><a href=/modify/sms/MY-001X>MODIFY</a></td></tr>
       <tr><td align='center'>MY-003X</td><td align='center'><a href=/modify/sms/MY-003X>MODIFY</a></td></tr>
       <tr><td align='center'>PH-001X</td><td align='center'><a href=/modify/sms/PH-001X>MODIFY</a></td></tr>
       <tr><td align='center'>PH-002X</td><td align='center'><a href=/modify/sms/PH-002X>MODIFY</a></td></tr>
       <tr><td align='center'>PH-003X</td><td align='center'><a href=/modify/sms/PH-003X>MODIFY</a></td></tr>
       <tr><td align='center'>PH-004X</td><td align='center'><a href=/modify/sms/PH-004X>MODIFY</a></td></tr>
       <tr><td align='center'>PH-005X</td><td align='center'><a href=/modify/sms/PH-005X>MODIFY</a></td></tr>
       <tr><td align='center'>PH-006X</td><td align='center'><a href=/modify/sms/PH-006X>MODIFY</a></td></tr>
       <tr><td align='center'>PH-007X</td><td align='center'><a href=/modify/sms/PH-007X>MODIFY</a></td></tr>
       <tr><td align='center'>SG-001X</td><td align='center'><a href=/modify/sms/SG-001X>MODIFY</a></td></tr>
       <tr><td align='center'>SG-002X</td><td align='center'><a href=/modify/sms/SG-002X>MODIFY</a></td></tr>
       <tr><td align='center'>SG-003X</td><td align='center'><a href=/modify/sms/SG-003X>MODIFY</a></td></tr>
       <tr><td align='center'>SG-005S</td><td align='center'><a href=/modify/sms/SG-005S>MODIFY</a></td></tr>
       <tr><td align='center'>SG-006X</td><td align='center'><a href=/modify/sms/SG-006X>MODIFY</a></td></tr>
       <tr><td align='center'>TH-001X</td><td align='center'><a href=/modify/sms/TH-001X>MODIFY</a></td></tr>
       <tr><td align='center'>TH-002X</td><td align='center'><a href=/modify/sms/TH-002X>MODIFY</a></td></tr>
       <tr><td align='center'>TH-003X</td><td align='center'><a href=/modify/sms/TH-003X>MODIFY</a></td></tr>
       <tr><td align='center'>VN-001X</td><td align='center'><a href=/modify/sms/VN-001X>MODIFY</a></td></tr>
       <tr><td align='center'>SG-003S</td><td align='center'><a href=/modify/sms/SG-003S>MODIFY</a></td></tr>
       <tr><td align='center'>KH-008S</td><td align='center'><a href=/modify/sms/KH-008S>MODIFY</a></td></tr>
       <tr><td align='center'>MY-006S</td><td align='center'><a href=/modify/sms/MY-006S>MODIFY</a></td></tr>
       <tr><td align='center'>IN-015S</td><td align='center'><a href=/modify/sms/IN-015S>MODIFY</a></td></tr>
       <tr><td align='center'>IN-036S</td><td align='center'><a href=/modify/sms/IN-036S>MODIFY</a></td></tr>
    </table>
    </body>
</html>